[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
networkx = "*"
pyvis = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
